<div class="container">
    <div class="row">
  
      <div class="col-lg-4">
          <!-- Cards -->
          <div class="card card-blog">
              <div class="card-header card-header-image">
                  <a href="#">
                      <img class="img" src="assets/img/card5.jpg">
                  </a>
              </div>
              <div class="card-body">
                <a href="#"> <h6 class="card-category text-info">Taxonomy Details</h6> </a>
              </div>
          </div>
    
          <!-- End of Cards -->
      </div>
      <div class="col-lg-4">
          <!-- Cards -->
          <div class="card card-blog">
              <div class="card-header card-header-image">
                  <a href="#">
                      <img class="img" src="assets/img/card6.png">
                  </a>
              </div>
              <div class="card-body">
                <a href="#"> <h6 class="card-category text-info">Taxonomy Details</h6></a>
              </div>
          </div>
    
          <!-- End of Cards -->
      </div>
      <div class="col-lg-4">
          <!-- Cards -->
          <div class="card card-blog">
              <div class="card-header card-header-image">
                  <a href="#">
                      <img class="img" src="assets/img/card5.jpg">
                  </a>
              </div>
              <div class="card-body">
                <a href="#"><h6 class="card-category text-info">Taxonomy Details</h6></a>
              </div>
          </div>
    
          <!-- End of Cards -->
      </div>
      <div class="col-lg-4">
          <!-- Cards -->
          <div class="card card-blog">
              <div class="card-header card-header-image">
                  <a href="#">
                      <img class="img" src="assets/img/street.jpg">
                      <div class="card-title">
                          Coming Soon
                      </div>
                  </a>
              </div>
              <div class="card-body">
                  <h6 class="card-category text-info">Taxonomy Details</h6>
                  <p class="card-description">
                      The description of the product one two liner.
                      More line.. Some text... Add more..
                      added lines...
                  </p>
              </div>
          </div>
    
          <!-- End of Cards -->
      </div>
    </div>
  </div>